.button {
	display: flex;
	justify-content: center;
	height: 30px;
	padding: 0 10px;
	transition: 0.6s;
	background-size: 200% auto;
	font-family: 'Bellota', system-ui;
	color: #b3bebd;
	font-size: 20px;
	font-weight: 800;
	letter-spacing: 1px;
	border: 1px solid #557b80ae;
	border-radius: 5px;
	background-image: linear-gradient(to right, #537779 0%, #105566 51%, #a09569 100%);
}

.button:hover {
	background-position: right center;
	cursor: pointer;
	box-shadow: 0px -2px 17px #495a47;
}
