.footer {
	display: flex;
	position: fixed;
	justify-content: space-between;
	bottom: 0;
	width: 1000px;
	height: 50px;
	padding: 5px 20px;
	box-shadow: 0px -2px 17px #242524;
	background-color: #0d3640;
	color: #87917f;
}
